<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/scan.css') }}">
    <title>FoodKapture</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <img id="back-arrow" src="{{ url_for('static', path='images/back_arrow.svg') }}">
        </a>
    </div>
    <div id="scan-meal" class="container">
        <h1>Confirm Photo</h1>

        <div id="preview"></div>

        <!-- <form id="upload-form">
            <input type="file" name="input-image" id="input-image" accept="image/png, image/jpeg, image/jpg, image/heic" required>
            <button type="submit">Upload Plate</button>
        </form>
        <div id="result"></div> -->
    </div>
    
    <script src="{{ url_for('static', path='scripts/scan.js') }}"></script>
</body>
</html>