<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/scan.css') }}">
    <title>Scan Your Plate</title>
</head>

<body data-page="scan">
    <div class="header">
        <a href="/">
            <img id="back-arrow" src="{{ url_for('static', path='images/back_arrow.svg') }}">
        </a>
    </div>
    <div id="scan-meal" class="container">
        <h1 id="title">Scan Meal</h1>

        <div id="meal-category">
            <p>Please specify the meal category:</p>
            <div id="meal-category-list" class="select" tabindex="1">
                <input class="select-opt" name="meal-categories" type="radio" id="breakfast-opt">
                <label for="breakfast-opt" class="option">Breakfast</label>
                <input class="select-opt" name="meal-categories" type="radio" id="lunch-opt">
                <label for="lunch-opt" class="option">Lunch</label>
                <input class="select-opt" name="meal-categories" type="radio" id="dinner-opt">
                <label for="dinner-opt" class="option">Dinner</label>
                <input class="select-opt" name="meal-categories" type="radio" id="snack-opt">
                <label for="snack-opt" class="option">Snack</label>
            </div>
        </div>

        <video id="video" class="camera-preview" autoplay playsinline></video>

        <canvas id="canvas" style="display: none;"></canvas>

        <p id="instructions">Take a photo to detect items in your meal</p>
    </div>
    <div id="toolbar">
        <a id="capture-button">
            <img id="camera-icon" class="icon" src="{{ url_for('static', path='images/camera_icon.svg') }}">
        </a>
        <a id="correct-image" style="display: none;">
            <img id="correct-icon" class="icon" src="{{ url_for('static', path='images/checkmark.svg') }}">
        </a>
        <a id="incorrect-image" style="display: none;">
            <img id="incorrect-icon" class="icon" src="{{ url_for('static', path='images/subtract.svg') }}">
        </a>
    </div>

    <script src="{{ url_for('static', path='scripts/scan.js') }}"></script>
</body>

</html>