<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/add.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>FoodKapture</title>
</head>

<body>
    <div class="header">
        <a href="/">
            <img id="back-arrow" src="{{ url_for('static', path='images/back_arrow.svg') }}">
        </a>
    </div>
    <div id="scan-meal" class="container">
        <h3 class="header-text">Daily Summary</h3>

        <canvas id="summary-chart" width="400" height="400"></canvas>

        <div id="summary-container">
            <p id="nutrient-title">Total Nutrients</p>
            <div id="ingredient-nutrients">
                <div id="ingredient-calories">
                    <span id="total-calories"></span>
                    <label for="calories-number">Calories</label>
                </div>
                <div id="ingredient-fats">
                    <span id="total-fats"></span>
                    <label for="total-fats">g</label>
                    <p class="amount-subtext">Fats</p>
                </div>
                <div id="ingredient-carbs">
                    <span id="total-carbs"></span>
                    <label for="total-carbs">g</label>
                    <p class="amount-subtext">Carbohydrates</p>
                </div>
                <div id="ingredient-proteins">
                    <span id="total-proteins"></span>
                    <label for="total-proteins">g</label>
                    <p class="amount-subtext">Proteins</p>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', path='scripts/summary.js') }}"></script>
</body>

</html>